{% extends 'base.html.twig' %}
{% block stylesheet %} <link rel="stylesheet" type="text/css" href="{{ asset('style/form.css') }}"> {% endblock %}
{% block body %}

<div class="container">

	<div class="well bs-component">

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="form-horizontal">
				
					<fieldset >

					    <legend>Dodawanie użytkownika:</legend>

						{{ form_start(form) }}

					    <div class="form-group">
					      <label class="col-lg-2 control-label">Nazwa użytkownika:</label>
					      <div class="col-lg-10">
					        {{ form_row(form.username ,{'attr': {'class': 'form-control'}}) }}
					      </div>
					    </div>

					    <div class="form-group">
					      <label class="col-lg-2 control-label">Hasło:</label>
					      <div class="col-lg-10">
					        {{ form_row(form.plainPassword.first ,{'attr': {'class': 'form-control'}}) }}
					      </div>
					    </div>

					    <div class="form-group">
					      <label class="col-lg-2 control-label">Powtórz hasło:</label>
					      <div class="col-lg-10">
					        {{ form_row(form.plainPassword.second ,{'attr': {'class': 'form-control'}}) }}
					      </div>
					    </div>


					    <div class="form-group">
					      <label class="col-lg-2 control-label">Uprawnienia:</label>
					      <div class="col-lg-10">
					        {{ form_widget(form.roles ,{'attr': {'class': 'form-control'}}) }}
					      </div>
					    </div>

						<!-- BUTONS -->
						    <div class="form-group">
						      <div class="col-lg-10 col-lg-offset-2">
						        <a href="/company" class="btn btn-default">Anuluj</a>
						        <button type="submit" class="btn btn-primary">Zatwierdź</button>
						      </div>
						    </div>

						{{ form_end(form) }}

					</fieldset>

				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}